*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url(../../Fonts/Fonts/WEB/css/satoshi.css);

:root {
    --base-font-size: 16px;
    --base-font-clr: rgb(255, 255, 255);
    --primary-background-clr: #0974AF;
}

body,
html {
    background-color: var(--primary-background-clr);
    text-align: center;
    font-family: "Satoshi-Bold";
    color: var(--base-font-clr);
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 12px;
	}
}