*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(../Fonts/Fonts/WEB/css/satoshi.css);

:root {
    --base-font-size: 16px;
    --base-font-clr: black;
	--github-link-clr: #5167f6;
    --primary-background-clr: hsl(231, 89%, 93%);
}

body,
html {
    height: 100%;
    background-color: var(--primary-background-clr);
    font-size: var(--base-font-size);
    color: var(--base-font-clr);	
}

.container {
	padding: 5% 5%;
	.heading {
		position: relative;
		padding-bottom: 3em;
		border-bottom: 2px solid black;
		h1 {
			font-size: 3em;
			line-height: 1em;
			font-family: "Satoshi-Bold";
			margin-bottom: 0.5em;
		}
		
		.sub-heading {
			font-family: "Satoshi-Regular";
			font-size: 1.6em;
			line-height: 1.1em;
		
			.github-link {
				color: var(--github-link-clr);
				text-decoration: none;
			}
		}
		
		.author-name {
			position: absolute;
			right: 0;
			font-family: "Satoshi-Light";
			font-style: italic;
			font-size: 1.6em;
			padding-bottom: .4em;
		}
	}


	.list {
		font-size: 2em;
		font-family: 'Satoshi-Medium';
		margin-top: 2em;
		.list-item {
			border-bottom: 2px solid black;
			list-style-type: none;
			line-height: 1em;
			margin: .5em 0;
			.number {
				font-size: .6em;
			}

			.link {
				color: inherit;
				text-decoration: none;
			}
		}
	}
}
